/*Style for the GrocePro Grocery App*/
*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    font-size: 16px;
}

/*Input form*/
#new-list-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: auto;
}

#new-list-area .step1{
    align-self: flex-start;
    margin: 40px;
    font-size: 20px;
}

#new-list{
    max-width: 400px;
    margin:0 50px; 
}

