/*Utility classes for the GrocePro App*/

.light-link{
    text-decoration: none;
    padding: 0px 20px;
    font-size: 20px;
    color: #e5eee9;
    border: 1px;
}

/*New Grocery List Form*/
/*Card-container*/
.card-container{
    width: 50%;
    margin: auto;
    height: 400px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    padding-top: 40px;
}

/*Form child elements*/
input[type = "text"], input[type = "date"]{
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 18px;
    padding: 10px 0;
    border: none; 
    border-bottom: 1px solid #b4becb;
}

input[type = "text"]:focus, input[type = "date"]:focus{
    outline: none;
}

.submit{
    font-size: 25px;
    display: block;
    text-align: center;
    margin:auto;
    margin-top: 30px;
    border-radius: 3px;
    padding: 5px 10px;
    background-color:  #00cc66;
    color: #e5eee9;
}

label{
    margin:auto;
    width: 100%;
}

.step{
    margin: 40px;
    font-size: 20px;
}
